html, body {
  color: #111;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}
.centered {
  text-align: center;
}
.hide {
  display:none !important;
}

header {
  position: absolute;
  width: 100%;
  height: 60px;
  text-align: center;
  z-index: 10;
  &.header-cont {
    .branding {
      text-align: left;
      a {
        text-decoration: none;
        text-transform: capitalize;
        color: #fff;
        font-weight: 500;
        font-size: 1em;
        padding-top: 20px;
        margin: 0;
      }
    }
    .menu {
      text-align: right;
      ul {
        list-style-type: none;
        padding: 15px 0 0 0;
        margin: 0;
        li {
          display: inline-block;
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
          a {
            text-decoration: none;
            text-transform: capitalize;
            color: #fff;
            font-weight: 500;
            font-size: 0.8em;
            &:link, &:visited { color: #D6DBD9; }
            &:hover { color: #B5C0B0; }
            &:active { color: #B5C0B0; }
          }
        }
      }
    }
  }
}
.banner {
  display: block;
  padding: 120px 0;
  color: #fff;
  &.full {
    //height: 580px;
    padding-bottom: 40px;
  }
  &.short {
    //height: 280px;
    padding-bottom: 20px;
  }
  &.pic {
    &.format-nowebp {
      background: url("/img/hero-2.e1681533.jpg") top center no-repeat;
      background-size: cover;
    }
    &.format-webp {
      background: url("/img/hero-2.e1681533.webp") top center no-repeat;
      background-size: cover;
    }
  }
  h1.line1, .line1 {
    font-size: 3.5rem;
    font-weight: 300;
    margin-bottom: 0;
    text-shadow: 2px 2px 2px #000000;
    @media only screen and (min-width: 768px) and (max-width: 1200px){
      font-size: 2.5rem;
    }
    @media only screen and (max-width: 767px){
      font-size: 2rem;
    }
  }
  .line2 {
    font-size: 1.2rem;
    margin-top: 1.5em;
    font-weight: 300;
    margin-bottom: 0;
    text-shadow: 2px 2px 2px #000000;
    span {
      color: greenyellow;
    }
  }
  .contact-box {
    text-align: center;
    padding: 2em;
    margin: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    h2 {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 0;
      color: gold;
    }
    ul {
      list-style-type: none;
      padding: 15px 0 0 0;
      margin: 0;
      li {
        display: inline-block;
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}
main {

  .block-hi {
    background-color: #F2F5F8;
    .block-cont {
      padding: 5rem 0;
      .hi-left {
        h2 {
          color: #023B4C;
          font-size: 3em;
          margin-bottom: 2rem;
        }
        p {
          color: #000;
          font-size: 1.3em;
          line-height: 1.5em;
        }
      }
      .hi-right {
        .hi-pic {
          width: 300px;
          height: 300px;
          margin: 5vh auto;
          &.format-nowebp {
            background: url("/img/e2-placeholder.8d54cea3.svg") 0 0 no-repeat;
            background-size: cover;
          }
          &.format-webp {
            background: url("/img/e2-placeholder.8d54cea3.svg") 0 0 no-repeat;
            background-size: cover;
          }
        }
      }
    }
  }

  .block-tools {
    background-color: #C3C9D1;
    .block-cont {
      padding: 2rem 0;
      .text-side {
        p {
          line-height: 50px;
          margin-bottom: 0;
        }
      }
      .icon-side {
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          text-align: right;
          li {
            display: inline-block;
            margin-right: 15px;
            &:last-child {
              margin-right: 0;
            }
            a {
              text-decoration: none;
              color: #fff;
            }
          }
        }
      }
    }
  }

  .block-services {
    background-color: #F2F5F8;
    .block-cont {
      padding: 4rem 0;
      h2 {
        color: #023B4C;
        font-size: 2.5em;
        margin-bottom: 2rem;
      }
      p {
        color: #000;
        font-size: 0.9em;
        line-height: 1.5em;
      }
      .service-box {
        background-color: #fff;
        border-radius: 4px;
        padding: 20px;
        margin: 0 0 30px 0;
        -webkit-box-shadow: 0 8px 20px 0 rgba(221,222,222,1);
        -moz-box-shadow: 0 8px 20px 0 rgba(221,222,222,1);
        box-shadow: 0 8px 20px 0 rgba(221,222,222,1);
        .title-box {
          position: relative;
          border-bottom: 1px solid #eaeaea;
          padding-bottom: 10px;
          h3 {
            color: #3A6775;
            font-size: 1.2em;
            line-height: 40px;
            display: inline-block;
            margin: 0;
          }
          .icon {
            width: 40px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;

            &.responsive {
              background: url("/img/icons8-responsive-50.png") 0 50% no-repeat;
              background-size: contain;
            }
            &.email {
              background: url("/img/icons8-email-document-50.png") 0 50% no-repeat;
              background-size: contain;
            }
            &.wp {
              background: url("/img/icons8-bulleted-list-50.png") 0 50% no-repeat;
              background-size: contain;
            }
            &.ads {
              background: url("/img/icons8-billboard-50.png") 0 50% no-repeat;
              background-size: contain;
            }
            &.landing {
              background: url("/img/icons8-web-design-50.png") 0 50% no-repeat;
              background-size: contain;
            }
            &.ada {
              background: url("/img/icons8-web-accessibility-50.png") 0 50% no-repeat;
              background-size: contain;
            }
            &.data {
              background: url("/img/icons8-mind-map-50.png") 0 50% no-repeat;
              background-size: contain;
            }
            &.opti {
              background: url("/img/icons8-lighthouse-40.png") 0 50% no-repeat;
              background-size: contain;
            }
            &.proto {
              background: url("/img/icons8-prototype-50.png") 0 50% no-repeat;
              background-size: contain;
            }
          }
        }
        .each-service-box {
          .wolf-app {
            display: block;
            margin: 0.5em 0;
            position: relative;
            width: 100%;
            height: 4em;
            &.format-nowebp {
              background: url("/img/wolf-pack-banner.jpg") 0 0 no-repeat;
              background-size: cover;
            }
            &.format-webp {
              background: url("/img/wolf-pack-banner.webp") 0 0 no-repeat;
              background-size: cover;
            }
            h4 {
              position: absolute;
              bottom: 0.2em;
              left: 0.8em;
              font-size: 0.8em;
              color: #fff;
            }
          }
        }
      }
    }
  }

  .block-mocks {
    background-color: #F2F5F8;
    .block-cont {
      padding: 5rem 0;
      h2 {
        text-align: center;
        font-weight: 500;
        font-size: 1.8em;
        text-transform: uppercase;
        margin-bottom: 1.5em;
      }
      .img_holder {
        width: 100%;
        height: 25em;
        display: block;
        &.desktop {
          .inner_viewer {
            background: url("/img/portfolio/hprod-wolf-app-desktop_sm.jpg") top center no-repeat;
            background-size: contain;
            height: 100%;
            display: block;
            position: relative;
          }
        }
        &.tablet {
          .inner_viewer {
            background: url("/img/portfolio/hprod-wolf-app-ipad_sm.jpg") top center no-repeat;
            background-size: contain;
            height: 100%;
            display: block;
            position: relative;
          }
        }
        &.phone {
          .inner_viewer {
            background: url("/img/portfolio/hprod-wolf-app-iphone_sm.jpg") top center no-repeat;
            background-size: contain;
            height: 100%;
            display: block;
            position: relative;
          }
        }
      }
    }
  }

  .block-under-hood {
    background-color: #F2F5F8;
    .block-cont {
      padding: 5rem 0 2rem 0;
      h2 {
        text-align: center;
        font-weight: 500;
        font-size: 1.8em;
        text-transform: uppercase;
        margin-bottom: 1.5em;
      }
      .img_responsive {
        max-width: 100%;
        border-radius: 6px;
      }
      &.tutorials {
        padding-top: 0;
        h3 {
          font-weight: 100;
          font-size: 1.5em;
          text-transform: capitalize;
          margin-top: 2em;
          margin-bottom: 1em;
          border-bottom: 1px solid #C3C9D1;
        }
        .img_responsive {
          margin-bottom: 1em;
        }
      }
    }
  }

  .block-metaverse {
    border-top: 5px solid wheat;
    border-bottom: 5px solid wheat;
    h2 {
      text-align: center;
      font-size: 1.2em;
      line-height: 2rem;
    }
    img {
      margin: 0 auto;
      display: block;
    }
  }

  footer {
    background-color: #687A91;
    padding: 2em 0 1em 0;
    .block-cont {
      a {
        color: #FFF3C4;
        text-decoration: none;
      }
      .copy {
        text-align: center;
      }
      ul {
        list-style-type: none;
        padding: 15px 0 0 0;
        margin: 0;
        li {
          display: inline-block;
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
          a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
      h3 {
        color: #FFF3C4;
        font-size: 0.7em;
        font-weight: 600;
        margin-bottom: 0;
      }
      p {
        color: #FFF3C4;
      }
      .block-actions {
        text-align: right;
      }
      .block-totals {
        text-align: center;
        p {
          font-size: 4em;
          color: #BFB996;
          font-weight: 700;
        }
      }
      .block-connect {

      }
    }
  }
}
